html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    box-sizing: border-box;
}


div > h1,h2 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 18px;
}

h1 {
    font-size: 54px;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    letter-spacing: 1px;
}

p {
    color: white;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    word-spacing: 8px;
    font-weight: 100;
    margin-top: 100px;
    width: 31%;
}

footer {
    text-align: center;
    padding: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer>img {
    width: 100px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 200px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 150px;
    /* iti recomand sa folosesti reguli de acest tip pe un element parinte, este redundant sa il pui separat pe elemente, daca va trebui modificat ca o decizi de design de exemplu, va trebui sa modifici in toate locurile separat, decat intr-un singur loc */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
nav>a:hover {
    color: #ecc42a;
}
.login-button:hover {
    background-color: white;
    color: #330379;
}